*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, rgb(146, 90, 146), rgb(148, 48, 48));
    font-family: 'Mukta', sans-serif;
    display: flex;
}
