* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, right top, from(#925a92), to(#943030));
  background-image: linear-gradient(to right, #925a92, #943030);
  font-family: 'Mukta', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 62.5rem;
  height: 600px;
  margin: auto;
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.container-1, .container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-1 {
  background-color: rgba(255, 255, 255, 0.7);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.container-2 {
  background-color: rgba(255, 255, 255, 0.3);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.container .sayac {
  font-size: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
  width: 13rem;
  height: 7.525rem;
  padding: 7.5px;
  background-color: #c7365f;
  border-radius: 16px;
  color: white;
}

.p {
  font-size: 3rem;
  font-weight: 100;
  padding-bottom: 1rem;
}

.skor {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  color: #c7365f;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 10%;
  left: 46%;
}

.btn-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-top: 5rem;
}

.btn .new-game {
  -webkit-transition: all .1s;
  transition: all .1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}

.btn .new-game:active {
  -webkit-transform: translate(2%, 2px);
          transform: translate(2%, 2px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn .role-dice, .btn .hold {
  -webkit-transition: all .1s;
  transition: all .1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}

.btn .role-dice:active, .btn .hold:active {
  -webkit-transform: translate(2%, 2px);
          transform: translate(2%, 2px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.random-zar .img {
  width: 6rem;
  margin-top: 10rem;
  opacity: 0.6;
}
/*# sourceMappingURL=main.css.map */